---
layout: default
title: Alliance for Corporate Transparency
description: ""
---

<main class="home">

  {% include intro-hero.html %}

  <section>
    <div class="column">
      <div class="flex-container gutter-xxl">
        <div>
          <h1 class="hero__h1">EUKI Research 2020</h1>
          <p class="hero__subtitle">Analysis of the <strong>climate, environmental and governance</strong> reporting of
            300 companies in Central, Eastern and Southern Europe.</p>
          <div class="column mt-l">
            <p class="heading__span link fs-16">Explore results</p>
            <div class="flex-container start no-expand gutter-xl">
              <a href="/database/2020.html" class="button">EUKI Database 2020</a>
              <a href="{% asset '{{ site.url_report2020_pdf }}' @path %}" target="_blank" data-trigger-modal
                class="button">EUKI Research Report (PDF)</a>
            </div>
          </div>
        </div>
        <div data-map="2020"></div>
      </div>
    </div>
  </section>

  <section>
    <div class="column">
      <div class="flex-container gutter-xxl">
        <div>
          <h1 class="hero__h1">EU Research 2019</h1>
          <p class="hero__subtitle">The largest study to date on the information disclosed by 1000 European companies on
            their <strong>environmental and societal risks and impacts</strong> pursuant to the EU legislation</p>
          <div class="column mt-l">
            <p class="heading__span link fs-16">Explore results</p>
            <div class="flex-container start no-expand gutter-xl">
              <a href="/database/2019.html" class="button">EU Database 2019</a>
              <a href="{% asset '{{ site.url_report2019_pdf }}' @path %}" target="_blank" data-trigger-modal
                class="button">EU Research Report (PDF)</a>
            </div>
          </div>
        </div>
        <div data-map="2019"></div>
      </div>
    </div>
  </section>

  <section>
    <input type="hidden" name="materiality_matrix" value="{% asset '{{ site.url_materiality_matrix }}' @path %}">

    <div class="column mb-l">
      <h1 class="heading__hero with-decorator mb-s"></h1>
      <label class="database-selector heading__span muted fs-18">
        Select a research / year:
        <select data-select-year>
          <option value="2020" selected>2020</option>
          <option value="2019">2019</option>
        </select>
      </label>
    </div>

    <div style="position: relative">
      <div class="database-spinner" data-spinner><i class="fas fa-spinner fa-3x fa-spin"></i></div>

      <div class="column" data-year="2020">
        <h1 class="heading__hero">General results EUKI Research 2020</h1>
        <p class="heading__span muted fs-18">Summary of key findings and results of select criteria. A comprehensive
          overview of general and sector-specific results is provided in the Database and Research Report.</p>

        <div class="database-container">
          <section class="database-section__margin-xl database-canvas__fit" data-summary-table></section>
        </div>
      </div>

      <div class="column" data-year="2019">
        <h1 class="heading__hero">General results EU Research 2019</h1>
        <p class="heading__span muted fs-18">Summary of key findings and results of select criteria. A comprehensive
          overview of general and sector-specific results is provided in the Database and Research Report.</p>

        <div class="database-container">
          <section class="database-section__margin-xl database-canvas__fit" data-summary-table></section>
        </div>
      </div>
    </div>

  </section>

  <section class="partners">
    {% include partners.html %}
  </section>

  <section>
    <div class="column">
      <div class="database-layout__col-2-3 gutter-xxl database-section">
        <div>
          <h3 class="heading__h1">Expert views on the future of corporate sustainability reporting</h3>
        </div>
        <div class="aspect-ratio-16-9" style="flex-shrink: 1">
          <iframe style="width: 100%; height: 100%"
            src="https://www.youtube.com/embed/videoseries?list=PLwkylO8KA7t6k731Efoea7KKbdQcZQOMb" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>

</main>