<footer>
  <div class="column">

    <div>
      <h3><a href="/">Alliance For Corporate Transparency</a></h3>
      <p class="flex-container right">Project coordinated by <a href="https://frankbold.org/">{% asset 'logo-frankbold-small' style="vertical-align: bottom; margin: 0 .25em;" %}</a></p>
    </div>

    <div class="right" >
      <ul style="margin-bottom: 2em">
        <li>
          <a href="https://twitter.com/EUCorpReporting" target="_blank">{% asset 'icons8-twitter.svg' width='21'   %} Follow us</a>
        </li>
        <li>
          <a href="{{ site.url_newsletter }}" target="_blank">Subscribe to our newsletter</a>
        </li>
      </ul>

      <p style="margin: 0; text-align: right;">Site built by <a href="https://populate.tools" target="_blank"
          title="Populate">{% asset 'logo-populate-small' style="vertical-align: text-top; height: 22px; width: auto; margin: 0 .25em;" %}</a>
      </p>

    </div>

  </div>
  
</footer>