<header>
  <div class="column">
    <a href="/"><img src="{% asset logos/logo-ACT @path %}" alt="" class="logo"></a>
    <div class="nav-container">
      <nav class="main">
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/database/2020.html">EUKI Database 2020</a>
          </li>
          <li>
            <a href="/database/2019.html">EU Database 2019</a>
          </li>
          <li>
            <a href="/pages/policy.html">Policy</a>
          </li>
          <li>
            <a href="/news/">News</a>
          </li>
        </ul>
      </nav>
      <nav class="secondary">
        <ul>
          <li>
            <a href="/pages/about.html">About</a>
          </li>
          <li>
            <a href="/pages/methodology.html">Methodology</a>
          </li>
          <li>
            <a href="https://twitter.com/EUCorpReporting" target="_blank">{% asset 'icons8-twitter.svg' width='21' style="vertical-align: middle" %} Follow us</a>
          </li>
          <li>
            <a href="{{ site.url_newsletter }}" target="_blank">Subscribe to our newsletter</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>