<section class="intro-hero">

  <div class="column-single">

    <p>The Alliance for Corporate Transparency project analyses how European companies disclose information necessary for understanding their impact on society and the environment, as required by the EU Non-financial Reporting Directive. It serves as guidance to companies and regulators, and provides data to substantiate the discussion on the standardisation of sustainability disclosure, which is in turn also a prerequisite for sustainable finance.</p>

  </div>

</section>
