<div class="column">
  <h3 class="heading__h1">Partners</h3>
  <div>
    <ul class="section-wrap">
      <li>
        <span class="section-wrap__span">Project coordinator</span>
        <div class="partner">
          <a href="http://en.frankbold.org/" target="_blank" rel="noopener noreferrer">
            <img src="{% asset logos/logo-frankbold @path %}" alt="frankbold" />
          </a>
        </div>
      </li>
      <li style="margin-left: 100px">
        <span class="section-wrap__span">Technical partner</span>
        <div class="partner">
          <a href="https://www.sustentia.com/" target="_blank" rel="noopener noreferrer">
            <img src="{% asset logos/logo-sustentia @path %}" alt="sustentia" />
          </a>
        </div>
      </li>
    </ul>

    <p class="section-wrap__span">Partners and advisors of the project include</p>
    <ul class="section-wrap">
      <li>
        <div class="partner">
          <a href="https://www.business-humanrights.org/en/" target="_blank" rel="noopener noreferrer">
            <img src="{% asset logos/logo-BHRC @path %}" alt="BHRC" />
          </a>
        </div>
      </li>
      <li>
        <div class="partner">
          <a href="https://corporate-responsibility.org/" target="_blank" rel="noopener noreferrer">
            <img src="{% asset logos/logo-CORE @path %}" alt="CORE" />
          </a>
        </div>
      </li>
      <li>
        <div class="partner">
          <a href="https://www.clientearth.org/" target="_blank" rel="noopener noreferrer">
            <img src="{% asset logos/logo-clientearth @path %}" alt="clientearth" />
          </a>
        </div>
      </li>
      <li>
        <div class="partner">
          <a href="https://futurefitbusiness.org/" target="_blank" rel="noopener noreferrer">
            <img src="{% asset logos/logo-futurefit @path %}" alt="futurefit" />
          </a>
        </div>
      </li>
      <li>
        <div class="partner">
          <a href="https://germanwatch.org/en" target="_blank" rel="noopener noreferrer">
            <img src="{% asset logos/logo-germanwatch @path %}" alt="germanwatch" />
          </a>
        </div>
      </li>
      <li>
        <div class="partner">
          <a href="https://www.oxfam.org/en" target="_blank" rel="noopener noreferrer">
            <img src="{% asset logos/logo-oxfam @path %}" alt="oxfam" />
          </a>
        </div>
      </li>
      <li>
        <div class="partner">
          <a href="https://shiftproject.org/" target="_blank" rel="noopener noreferrer">
            <img src="{% asset logos/logo-shift @path %}" alt="shift" />
          </a>
        </div>
      </li>
      <li>
        <div class="partner">
          <a href="https://transparency.eu/" target="_blank" rel="noopener noreferrer">
            <img src="{% asset logos/logo-ti @path %}" alt="ti" />
          </a>
        </div>
      </li>
      <li>
        <div class="partner">
          <a href="https://www.wwf.eu/" target="_blank" rel="noopener noreferrer">
            <img src="{% asset logos/logo-wwf @path %}" alt="wwf" />
          </a>
        </div>
      </li>
      <li>
        <div class="partner">
          <a href="https://www.cdp.net/en" target="_blank" rel="noopener noreferrer">
            <img src="{% asset logos/logo-cdp @path %}" alt="cdp" />
          </a>
        </div>
      </li>
      <li>
        <div class="partner">
          <a href="https://www.sei.org/" target="_blank" rel="noopener noreferrer">
            <img src="{% asset logos/logo-sei @path %}" alt="sei" />
          </a>
        </div>
      </li>
      <li>
        <div class="partner">
          <a href="https://themis-research.net/" target="_blank" rel="noopener noreferrer">
            <img src="{% asset logos/logo-themis @path %}" alt="themis" />
          </a>
        </div>
      </li>
      <li>
        <div class="partner">
          <a href="https://www.somo.nl/" target="_blank" rel="noopener noreferrer">
            <img src="{% asset logos/logo-somo @path %}" alt="somo" />
          </a>
        </div>
      </li>
      <li>
        <div class="partner">
          <a href="https://shareaction.org/" target="_blank" rel="noopener noreferrer">
            <img src="{% asset logos/logo-shareaction @path %}" alt="shareaction" />
          </a>
        </div>
      </li>
      <li>
        <div class="partner">
          <a href="https://www.cdsb.net/" target="_blank" rel="noopener noreferrer">
            <img src="{% asset logos/logo-cdbs @path %}" alt="cdbs" />
          </a>
        </div>
      </li>
      <li>
        <div class="partner">
          <a href="https://www.globalwitness.org/en/" target="_blank" rel="noopener noreferrer">
            <img src="{% asset logos/logo-globalw @path %}" alt="globalw" />
          </a>
        </div>
      </li>
      <li>
        <div class="partner">
          <a href="https://2degrees-investing.org/" target="_blank" rel="noopener noreferrer">
            <img src="{% asset logos/logo-2dii @path %}" alt="2dii" />
          </a>
        </div>
      </li>
      <li>
        <div class="partner">
          <a href="https://www.pwyp.org/" target="_blank" rel="noopener noreferrer">
            <img src="{% asset logos/logo-pwyp @path %}" alt="pwyp" />
          </a>
        </div>
      </li>
    </ul>
    
    <p class="section-wrap__span">Academic support provided by:</p>
    <ul class="section-wrap">
      <li>
        <div class="partner">
          <a href="https://www.cass.city.ac.uk/" target="_blank" rel="noopener noreferrer">
            <img src="{% asset logos/logo-cass @path %}" alt="cass" />
          </a>
        </div>
      </li>
      <li>
        <div class="partner">
          <a href="https://www.nyenrode.nl/en" target="_blank" rel="noopener noreferrer">
            <img src="{% asset logos/logo-neynrode @path %}" alt="neynrode" />
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>