<div class="post-list-compact">

  {% for post in site.posts %}
  <div class="post">

    <div class="post-img">
      {% if post.img_listing %}
        <a href="{{ post.url }}"><img src="{% asset '{{ post.img_listing }}' @path %}"></a>
      {% else %}
        <a href="{{ post.url }}"><img src="{% asset '{{ post.img }}' @path %}"></a>
      {% endif %}
    </div>

    <div class="post-text-content">
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      <p class="intro">{{ post.intro }}</p>
      <a class="read-more-link" href="{{ post.url }}">Read more</a>
    </div>

  </div>
  {% endfor %}

</div>
