header {
  padding: 1em 2em;
  border-bottom: 1px solid transparentize($cBlue, .8);

  > * {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .logo {
    max-height: 62px;
  }

  .nav-container {
    text-align: right;
    @media screen and (max-width: $wMobile) {
      display: none;
    }

    nav.main {
      ul {
        list-style-type: none;
  
        li {
          display: inline-block;
  
          &:not(:last-child) {
            margin-right: 2vw;
          }
  
          a {
            font-size: 17px;
            text-transform: uppercase;
            color: $cLink;
            font-weight: 600;
            text-decoration: none;
          }
        }
      }
    }

    nav.secondary {
      ul {
        list-style-type: none;
    
        li {
          display: inline-block;
  
          &:not(:last-child) {
            margin-right: 2vw;
          }
  
          a {
            font-size: 14px;
            color: transparentize($cLink, .5);
            font-weight: 600;
            text-decoration: none;
          }
        }
      }
      
    }
  }
}
