section {
  padding: 2rem 1rem;
}

.section {
  h2 {
    text-transform: uppercase;
    margin: 0 0 0.75rem;
    position: relative;
    color: #335463;
    font-size: 32px;
    font-weight: 100;

    &::before {
      content: "";
      position: absolute;
      width: 11px;
      height: 110px;
      background-color: #548ba7;
      left: -32px;
    }
  }

  .section-main {
    font-size: 24px;
    margin-bottom: 100px;

    .link {
      color: #5f96b0;
    }
  }

  .section-form {
    display: flex;

    @media screen and (max-width: $wMobile) {
      display: block;
    }
  }

  .section-input {
    margin-right: 10px;
    display: inline-block;

    @media screen and (max-width: $wMobile) {
      margin-right: 0;
    }
  }

  input[type="text"] {
    background-color: #ebf1f4;
    border: 1px solid #548ba7;
    border-radius: 3px;
    height: 50px;
    width: 380px;
    display: block;
    padding: 0 10px;
    box-sizing: border-box;

    @media screen and (max-width: $wMobile) {
      width: 100%;
    }
  }

  input[type="checkbox"] {
    font-size: 16px;
    opacity: 0.9;
    margin-top: 12px;
  }

  button {
    background: #548ba7;
    border-radius: 3px;
    height: 50px;
    width: 150px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;

    @media screen and (max-width: $wMobile) {
      width: 100%;
    }
  }
}

section.partners {
  ul {
    list-style-type: none;
    font-size: 18px;
  }

  li {
    position: relative;
    color: rgba(0, 0, 0, 0.6);

    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  .section-wrap {
    display: flex;
    flex-wrap: wrap;
    padding: 0;

    li {
      flex-basis: 33%;

      @media screen and (max-width: $wMobile) {
        flex-basis: 100%;
      }

      .partner {
        background: #ffffff;
        border: 1px solid #efefef;
        box-shadow: 0 0 23px 0 rgba(0, 0, 0, 0.15);
        max-width: 70%;
        position: relative;
        margin-left: 50px;

        &::before {
          content: "";
          position: absolute;
          width: 40px;
          height: 5px;
          background-color: #548ba7;
          left: -50px;
          top: 8px;
        }

        img {
          width: 100%;
        }
      }
    }

    &__span {
      @extend %heading__span;

      font-size: $fsBig;
      font-weight: normal;
      color: $cMutedText;
      margin: 0 0 2rem;
      display: block;
    }
  }
}
